/*    <!-- 1.横並びさせたい要素全てにfloat -->
    <!-- 2横並びさせたやつだけ、（親要素で）囲む -->
    <!-- 3.囲んだ親要素にclearfix -->
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


.nav-outer {
	width: 100%;
	height: 70px;
	background-color: #EC715F;
	color: #FAFAFA;
}

.nav-logo {
	height: 65px;
	width: 120px;
	float: left;
}
.nav-list-item {
	display: inline-block;
	margin: 0 30px;
	float: right;
	color: #FAFAFA;
	font-size: 16px;
}

.nav-sp {
	display: none;
}

nav {
	width: 1024px;
	text-align: center;
	margin: 0 auto;
	line-height: 70px;
}

.main-visual {
	background-image: url(img/mv.png);
	height: 650px;
}

.main-visual-content {
	display: block;
}

.main-visual-text {
	font-size: 64px;
	color: #FAFAFA;
	padding-top: 200px;
	text-align: center;
}

.main-visual-subtext {
	font-size: 20px;
	color: #FAFAFA;
	margin-top: 10px;
	text-align: center;
}

main {
	background-color: #ECEFF1;
	width: 100%;
	padding-bottom: 90px;
}

.title {
	font-size: 32px;
	color: #000000;
	padding: 90px 8px 0 0;
	text-align: center;
}

.underline {
	width: 70px;
	border-bottom: 3px solid #EC715F;
	display: block;
	margin: 0 auto;
	padding-top: 8px;
}

.first-text {
	padding: 30px 0;
	font-size: 16px;
	color: #000000;
	text-align: center;
}

.portfolio {
	width: 920px;
	margin: 0 auto;
}

.portfolio-image {
	width: 300px;
	height: 250px;
	background-size: cover;
	float: left;
	background-position: center;
}

.image-boxs {
	width: 920px;
}

.image-top {
	margin-bottom: 10px;
}

.image1 {
	background-image: url(img/sketch.jpg);
}

.image2  {
	background-image: url(img/websuku.png);
	margin: 0 10px;
}

.image3  {
	background-image: url(img/write.jpg);
}

.image4  {
	background-image: url(img/webcamp.png);
}

.image5  {
	background-image: url(img/talk.jpg);
	margin: 0 10px;
}

.image6 {
	background-image: url(img/webcamp-mother.png);
}

.feature {
	width: 980px;
	margin: 0 auto;
}

.feature-subtext {
	font-size: 20px;
	color: #000000;
	margin: 10px auto;
}

.fa-gratipay, .fa-optin-monster ,.fa-coffee{
	font-size: 60px !important;
}

.fa {
	text-align: center;
}

.feature-subtitle {
	text-align: center;
	color: #000000;
	margin: 10px auto;
}

.feature-box {
	float: left;
	width: 320px;
	text-align: center;
	padding-right: 10px;
	padding-bottom: 90px;
}

.feature-box:last-child {
	padding-right: 0px;
}

.feature-text {
	text-align: left;
	color: #000000;
}

.profile-outer {
	width: 100%;
	background-color: #ECEFF1;
}

.profile {
	width: 1024px;
	padding-bottom: 90px;
	margin: 0 auto;
}

.profile-box-left {
	width: 50%;
	float: left;
	text-align: center;
}

.profile-box-right {
	width: 50%;
	float: right;
}

.profile-subtitle {
	font-size: 20px;
	text-align: left;
	color: #000000;
	margin-top: 8px;
	margin-bottom: 5px;
}

.profile-subtitle:first-child {
	margin-top: 0;
}

.profile-text {
	font-size: 16px;
	color: #000000;
	text-align: left;
}

.profile-image {
	width: 250px;
	height: 250px;
	border-radius: 250px;
}

.contact {
	width: 800px;
	padding-bottom: 90px;
	margin: 0 auto;
}

.contact-box-left {
	width: 50%;
	float: left;
	margin: 0 auto;
}

.contact-box-right {
	width: 50%;
	float: right;
}

.contact-box-leftblock{
	margin: 0 auto;
	margin-left: 25%;
}

.contact-box-rightblock {
	margin: 0 auto;
	margin-left: 25%;
}

.contact-subtitle {
	font-size: 20px;
	color: #000000;
	padding-bottom: 5px;
}

.contact-text {
	text-decoration: underline;
	margin-top: 5px;
	padding-bottom: 20px;
	margin: 0 auto;
}

.contact-text:last-child {
	padding-bottom: 0px;
}

.fa-facebook-f, .fa-twitter, .fa-instagram {
	font-size: 50px;
}

.fa-twitter {
	 padding-left: 20px;
	 padding-right: 20px;
}

footer {
	background-color: #EC715F;
}

.footer-text {
	width: 100%;
	font-size: 16px;
	color: #FAFAFA;
	line-height: 60px;
	text-align: center;
}

@media screen and (max-width:768px) {

	header, .nav-outer {
		height: 50px;
}
	header {
		width: 100%;
		padding: 3px 3px 8px 0;
	}
	nav {
		width: 100%;
	}
	.nav-logo {
	height: 45px;
	width: 100px;
	}

	.main-visual {
	background-image: url(img/code.png);
	background-size: cover;
	}

	.main-visual-content {
		width: 90%;
		margin-right: 5%;
		margin-left: 5%;
	}

	.main-visual-text {
		font-size: 40px;
		margin-bottom: 10px;
	}

	.main-visual-subtext {
		font-size: 18px;
	}

	  .portfolio  {
		width: 90%;
		float: none;
		margin-right: 5%;
		margin-left: 5%;
}

	  .portfolio-image {
		width: 90%;
		float: none;
}
	  .image-boxs {
	  	width: 90%;
	  	margin: 0 auto;
	  }

	  .image-top {
	  	margin: 0 auto;
	  }

	  .portfolio-image {
	  	width: 300px;
	  	background-size: 300px 250px;
	  }

	  .image1 {
	  	display: none;
	  }

	  .image2 {
	  	margin: 0 auto;
	  }

	  .image3 {
	  	display: none;
	  }

	  .image4 {
	  	margin-top: 10px;
	  	margin-bottom: 10px;
	  	width: 300px;
	  }

	  .image5 {
	  	display: none;
	  }

	  .feature {
		width: 90%;
		float: none;
		margin-right: 5%;
		margin-left: 5%;
		margin-bottom: 90px;
}
	  .feature-box {
		float: none;
		padding-bottom: 10px;
		padding-right: 0px;
		margin: 0 auto;
}
	  .profile {
		width: 90%;
		margin-right: 5%;
		margin-left: 5%;
}
	  	.profile-box-left {
		float: none;
		width: 250px;
		margin: 0 auto;
}
	  	.profile-box-right {
		float: none;
		width: 100%;
}
	  .profile-subtitle {
		text-align: center;
		margin-top: 20px;
		margin-bottom: 5px;
}
	  .profile-text {
		text-align: center;
}
	  .contact {
	  	float: none;
	  	width: 90%;
		margin-right: 5%;
		margin-left: 5%;
	  }
	  .contact-text {
	  	padding-bottom: 20px;
	  }

	  .contact-box-right {
	  	float: none;
	  	width: 100%;
	  	text-align: center;
	  }
	  .contact-box-left {
	  	float: none;
	  	width: 100%;
	  	text-align: center;
	  }

	  .contact-box-leftblock {
	  	margin: 0 auto;
	  }
	  .contact-box-rightblock {
	  	margin: 0 auto;
	  }
	  .nav-list-item {
		display: none;
	  }
	  .nav-sp {
	  	border: 1px solid white;
	  	display: block;
	  	width: 44px;
	  	height: 44px;
	  	float: right;
	  }
}